input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

:root {

    --dispfcolr: white;
    --convfcolr: #5A537B;
    --tcolr: #353535;
    --fontf: 'inter';
    --dispbkcolr: #6943FF;
    --convbkcolr: #F4F4F4;
    --bcolr: #B295FF;
    --bbkclr : #1C1C1C;

}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:var(--bbkclr);
}

.convert {
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 729px;
    background-color: var(--dispfcolr);
    margin-left: auto;
    margin-right: auto;
    margin: 50px auto 0px auto;
    align-items: center;
    text-align: center;
    background-color: var(--convbkcolr);
}

.convert-displ {
    width: 550px;
    height: 240px;
    background-color: var(--dispbkcolr);
    color: var(--dispfcolr);
    font-family: var(--fontf);
    display: flex;
    flex-direction: column;
    margin: 0px auto 0px auto;

}

.covert-displ-h1 {
    margin: 33px 51px 0px 51px;
    font-size: 28px;

}

#convert-displ-disp {
    width: 100px;
    height: 65px;
    border-radius: 5px;
    border: 2px solid var(--bcolr);
    font-size: 58px;
    font-weight: bolder;
    font-family: var(--fontf);
    color: var(--dispfcolr);
    background-color: var(--dispbkcolr);
    margin: 20px auto 0px auto;
    outline: none;
    text-align: center;

}


#convert-displ-btn {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin: 20px auto 0px auto;
    font-family: var(--fontf);
}

.conversion {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    font-family: var(--fontf);
    gap: 23px;
}

.convert-leng {
    width: 500px;
    height: 108px;
    background-color: var(--dispfcolr);
}

.convert-leng-h2,
.convert-vol-h2,
.convert-ms-h2 {
    font-size: 20px;
    margin: 30px auto 9px auto;
    font-weight: 500;
}

#convert-leng-disp,
#convert-vol-disp,
#convert-ms-disp {
    font-size: 12px;
    margin: 5px auto 5px auto;
}


.convert-vol {
    width: 500px;
    height: 108px;
    background-color: var(--dispfcolr);

}

.convert-ms {
    width: 500px;
    height: 108px;
    background-color: var(--dispfcolr);

}